{% extends "base.html" %}
{% block title %}Test{% endblock %}

{% block content_header_settings %}

{% endblock %}

{% block content_settings %}

{% endblock %}

{% block content_video %}

{#    <img class="videpotok" src="{{ url_for('video_feed') }}" width="50%">#}
{% endblock %}






        <div id="header">

            <div id="logospace fixed-top">
                 <nav class="navbar bg-body-tertiary">
{#            <div class="container">#}
{#                <a class="navbar-brand " href="#">#}
                    <a href="/"><image src="{{ url_for('static', filename='/images/mes_logo.svg') }}" alt="Bootstrap" width="264" height="70"></a>
{#                </a>#}
{#            </div>#}
                 </nav>
            </div>

            <div id="menu fixed-top">
                <nav class="navbar bg-body-tertiary start">
                  <div class="container-fluid">
        {#            <a class="navbar-brand" href="#">Offcanvas navbar</a>#}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Меню</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Главная</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="calibration">Калибровка</a>
                              <a class="nav-link" href="charact">Характеристики камеры</a>
                              <a class="nav-link" href="aruco">Определение аруко маркеров</a>
                              <a class="nav-link" href="color_detect">Определение цвета</a>
                              <a class="nav-link" href="size_detect">Определение площади контура</a>
                              <a class="nav-link" href="white_balance">Баланс белого</a>
                              <a class="nav-link" href="exposition">Настройки экспозиции</a>
                              <a class="nav-link" href="roundness">Определение округлости контура</a>
                              <a class="nav-link" href="detect_dist">Определение местоположения объекта</a>
                              <a class="nav-link" href="shape_classification">Определение фигур</a>
                              <a class="nav-link" href="line_detect">Определение линий</a>
                              <a class="nav-link" href="ssd">Распознование нейросетью</a>
                              <a class="nav-link" href="FPV">FPV - движение от первого лица</a>
                              <a class="nav-link" href="track">Слежение</a>
                          </li>
{#                          <li class="nav-item dropdown">#}
{#                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                              Dropdown#}
{#                            </a>#}
{#                            <ul class="dropdown-menu">#}
{#                              <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                              <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                              <li>#}
{#                                <hr class="dropdown-divider">#}
{#                              </li>#}
{#                              <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                            </ul>#}
{#                          </li>li#}
                        </ul>
    {#                    <form class="d-flex mt-3" role="search">#}
    {#                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
    {#                      <button class="btn btn-outline-success" type="submit">Search</button>#}
    {#                    </form>#}
                      </div>
                    </div>
                  </div>
                </nav>
            </div>
        </div>



<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-circle-fill" viewBox="0 0 16 16">
  <circle cx="8" cy="8" r="8"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
</svg>
