{% extends "base.html" %}
{% block title %}FPV - движение от первого лица{% endblock %}

{% block header_1 %}
    <h1>FPV - движение от первого лица</h1>
{% endblock %}

{% block content_header_settings %}
    <h3>Настройки</h3>
{% endblock %}

{% block content_settings %}
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>	
		<script src="{{ url_for('static',filename='joy.js') }}"></script>
    <div class="container">
		<div class="columnLateral">
				<div id="joy1Div" style="width:200px;height:200px;margin:50px;"></div>
        </div>
	</div>
		<!--<button id="submit-button">Submit</button>-->

	<script>
		// Create JoyStick object into the DIV 'joy1Div'
        var Joy1 = new JoyStick('joy1Div');

        var joy1IinputPosX = Joy1.GetPosX();
        var joy1InputPosY = Joy1.GetPosY();
        var joy1Direzione = Joy1.GetDir()
        var joy1X = Joy1.GetX;
        var joy1Y = Joy1.GetY;

        // Fetch joystick 1 position every 50 ms
        setInterval(function(){ joy1IinputPosX=Joy1.GetPosX(); }, 50);
        setInterval(function(){ joy1InputPosY=Joy1.GetPosY(); }, 50);

        // Do a POST request to Flask backend every 50 ms
        setInterval(function(){
             fetch('/sendFPV', {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({"joy1X": joy1IinputPosX, "joy1Y": joy1InputPosY})
            })
                .then(function (response) {
                    return response.text();
                })
                .then(function (text) {

                    console.log('POST response: ');
                    console.log(text);
                });
        }, 50);
	</script>
{% endblock %}

{% block content_header_video %}
    <h3>Видео</h3>
{% endblock %}

{% block content_video %}
    <image src="{{ url_for('video_feed')}}" width="100%"></image>
{#            url_for('video_feed_calibration')#}
{% endblock %}
