{% extends "base.html" %}
{% block title %}Определение местоположения объекта{% endblock %}

{% block header_1 %}
    <h1>Определение местоположения объекта</h1>
{% endblock %}

{% block content_header_settings %}
    <h3>Настройки</h3>
{% endblock %}

{% block content_settings %}
    <div class="container">

		<div class="slider-container" style="position: relative">
            <div class="left" style="position: absolute">
                <div>
                    <p class="slider-title">H_max</p>
                    <input type="range" min="0" max="255" value="255" class="slider" id="slider1">
                    <p class="slider-value" id="slider1-value">255</p>
                </div>
                <div>
                    <p class="slider-title">H_min</p>
                    <input type="range" min="0" max="255" value="50" class="slider" id="slider2">
                    <p class="slider-value" id="slider2-value">50</p>
                </div>

                <div>
                    <p class="slider-title" style="padding-top: 40px" >S_max</p>
                    <input type="range" min="0" max="100" value="255" class="slider" id="slider3">
                    <p class="slider-value" id="slider3-value">255</p>
                </div>
                <div>
                    <p class="slider-title">S_min</p>
                    <input type="range" min="0" max="255" value="50" class="slider" id="slider4">
                    <p class="slider-value" id="slider4-value">50</p>
                </div>
            </div>

            <div class="right" style="position: absolute;left: 35%;">
                <div>
                    <p class="slider-title">V_min</p>
                    <input type="range" min="0" max="255" value="50" class="slider" id="slider5">
                    <p class="slider-value" id="slider5-value">50</p>
                </div>
                <div>
                    <p class="slider-title">V_max</p>
                    <input type="range" min="0" max="255" value="255" class="slider" id="slider6">
                    <p class="slider-value" id="slider6-value">255</p>
                </div>
                <div>
                    <p class="slider-title" style="padding-top: 40px">Area</p>
                    <input type="range" min="0" max="40000" value="40000" class="slider" id="slider7">
                    <p class="slider-value" id="slider7-value">40000</p>
                </div>
            </div>

		</div>
	</div>
		<!--<button id="submit-button">Submit</button>-->

	<script>
		// Get the slider and its value element
		let slider1 = document.getElementById("slider1");
		let slider1Value = document.getElementById("slider1-value");

		let slider2 = document.getElementById("slider2");
		let slider2Value = document.getElementById("slider2-value");

		let slider3 = document.getElementById("slider3");
		let slider3Value = document.getElementById("slider3-value");

		let slider4 = document.getElementById("slider4");
		let slider4Value = document.getElementById("slider4-value");

		let slider5 = document.getElementById("slider5");
		let slider5Value = document.getElementById("slider5-value");

		let slider6 = document.getElementById("slider6");
		let slider6Value = document.getElementById("slider6-value");

		let slider7 = document.getElementById("slider7");
		let slider7Value = document.getElementById("slider7-value");

		// Update the slider value element when the slider is moved
		slider1.addEventListener("input", function() {
			slider1Value.innerHTML = this.value;
			fetch("/detect_dist", {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              H_max: Number(this.value)
            })
            })
		});

		slider2.addEventListener("input", function() {
			slider2Value.innerHTML = this.value;
		    fetch("/detect_dist", {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              H_min: Number(this.value)
            })
            })
		});

		slider3.addEventListener("input", function() {
			slider3Value.innerHTML = this.value;
		    fetch("/detect_dist", {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              S_max: Number(this.value)
            })
            })
		});
		slider4.addEventListener("input", function() {
			slider4Value.innerHTML = this.value;
		    fetch("/detect_dist", {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              S_min: Number(this.value)
            })
            })
		});

		slider5.addEventListener("input", function() {
			slider5Value.innerHTML = this.value;
			fetch("/detect_dist", {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              V_min: Number(this.value)
            })
            })
		});

		slider6.addEventListener("input", function() {
			slider6Value.innerHTML = this.value;
			fetch("/detect_dist", {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              V_max: Number(this.value)
            })
            })
		});
		slider7.addEventListener("input", function() {
			slider7Value.innerHTML = this.value;
			fetch("/detect_dist", {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              Area: Number(this.value)
            })
            })
		});
	</script>
{% endblock %}

{% block content_header_video %}
    <h3>Видео</h3>
{% endblock %}

{% block content_video %}
    <image src="{{ url_for('video_feed_detect_distance_between_obj') }}" width="100%"></image>
{#            url_for('video_feed_calibration')#}
{% endblock %}