{% extends "base.html" %}
{% block title %}Слежение{% endblock %}

{% block header_1 %}
    <h1>Определение аруко маркеров</h1>
{% endblock %}

{% block content_header_settings %}
    <h3>Настройки</h3>
{% endblock %}

{% block content_settings %}
    <p>В этом режиме не предполагается настроек.</p>
{% endblock %}

{% block content_header_video %}
    <h3>Видео</h3>
{% endblock %}

{% block content_video %}
    <image src="{{ url_for('video_feed_tracking') }}" width="100%">
{#            url_for('video_feed_calibration')#}
{% endblock %}