
<html>
  <head>
    <title>Live Stream  by Red_Panda_Project</title>
    <link rel="stylesheet" href='../static/style.css'/>
  </head>
  <body>
    <h1>Live Stream  by Red_Panda_Project</h1>
	<h1>White balance</h1>
	<div class="container">
		<div class="slider-container">
			<div>
				<p class="slider-title">White scale</p>
				<input type="range" min="0" max="5" value="{{val}}" class="slider" name="slider1" id="slider1">
				<p class="slider-value" id="slider1-value">{{val}}</p>
			</div>
		</div>
		<div>
			<img src="{{ url_for('video_feed_white_balance') }}"  width="100%">
		</div>
	</div>

	<script>
		// Get the slider and its value element
		let slider1 = document.getElementById("slider1");
		let slider1Value = document.getElementById("slider1-value");


		// Update the slider value element when the slider is moved
		slider1.addEventListener("input", function() {
			slider1Value.innerHTML = this.value;
			fetch("/white_balance", {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              val: Number(this.value)
            })
            })
		});

	</script>
    <hr>


    <p> @2023 Developed by Red_Panda_Project</p>
  </body>
</html>
